<h1 class="text-xl">Account</h1>
<%= button_to "Delete Account", settings_user_path, method: :delete, data: { turbo_confirm: "Are you sure? This cannot be undone." }, class: "rounded-md bg-red-500 px-3 py-2 text-sm font-semibold text-white shadow-xs hover:bg-red-800 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" %>
